body{
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calculator{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 80px 300px;
    text-align: center;
}

#buttons_container{
    display: grid;
    grid-template-areas: "btn_c btn_sign btn_percent btn_div"
                         "btn_7 btn_8 btn_9 btn_x"
                         "btn_4 btn_5 btn_6 btn_min"
                         "btn_1 btn_2 btn_3 btn_plus"
                         "btn_0 btn_0 btn_dec btn_equals"
                         "extrafunc extrafunc extrafunc extrafunc";
}

#extrafunc{
    background: #D6D6D6;
    height: 100px;
    margin-top: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 8px;
}

.btn{
    width: 100%;
    height: 100%;
    font-size: xx-large;
    background: #D6D6D6;
    color: black;
    border: .5px solid #A2A2A2;
    font-weight: bold;
}

#btn_0{
    border-bottom-left-radius: 20px;
}

#btn_equals{
    border-bottom-right-radius: 20px;
}

.btn_orange{
    width: 100%;
    height: 100%;
    font-size: xx-large;
    background: #F79330;
    color: white;
    border: .5px solid #A2A2A2;
}



#history{
    background: white;
    color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#display{
    text-align: right;
    height: 50px;
    background: #4C4C4C;
    color : #CAD9E0;
    font-size: xx-large;
    height: 80px;
    font-weight: bolder;
}

@media screen and (max-width: 600px) {
    body{
        display: block;
        text-align: center;
        background: white;
    }
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
            .container .backgroundImage { display: none; }
}